/* .loginsignup-page{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,3,23,1) 50%, rgba(14,90,153,1) 100%); 
} */

.loginsignup-page{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,3,23,1) 50%, rgba(14,90,153,1) 100%); 
    height:100vh;
    padding-top: 50px;

 
    
}


.loginsignup-container{
    display : flex; 
    flex-direction: column;
    background: rgb(233, 206, 206);
    margin-top: 10px;
    padding-bottom: 30px;
    width: 600px;
    /* height:600px; */
    margin-top: 90px;

    
  
}

.header{
    display : flex; 
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width:100%;
    margin-top: 30px;
}

.heading{
    font-size: 30px;
    font-weight: 700;
    color:#3c009d;
}

.underline{
    width:70px;
    height:7px;
    background-color: #3c009d;
    border-radius: 10px;
}

.inputs{
    display : flex; 
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;

}

.input{
    display : flex; 
    align-items: center;
    background: #eaeaea;
    margin:auto;
    width:480px;
    height:50px;
    border-radius: 10px;
}

.input img{
    margin : 0 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: 0;
    outline: 0;
    color:#797979;
    font-size: 19px;

}

.forget-password{
    padding-left: 62px;
    color:#797979;
    margin-top: 10px;
    /* font-size:18px; */
}

.forget-password span{
    /* padding-left: 62px; */
    color:#4c00b4;
    cursor: pointer;
    /* font-size:18px; */
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 5px auto;

} 
.submit{
    display: flex;
    background-color: #4c00b4;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    width: 220px;
    height: 59px;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

.form-error{
    padding-left: 55px;
    font-weight: bold;
    margin-bottom: 5px;

}

