/* .loginsignup-page{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,3,23,1) 50%, rgba(14,90,153,1) 100%); 
} */

.loginsignup-page{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(3,1,19,1) 48%, rgba(0,0,0,1) 98%);
    height:100vh;
    padding-top: 50px;

 
    
}


.loginsignup-container{
    display : flex; 
    flex-direction: column;
    /* background: rgb(3, 90, 152); */
  background-color: rgba(8, 7, 7, 0.442);
    margin-top: 10px;
    padding-bottom: 30px;
    width: 600px;
    /* height:600px; */
    margin-top: 90px;
    border-radius: 30px;

    
  
}


    .inp-drk:-webkit-autofill,
    .inp-drk:-webkit-autofill:hover, 
    .inp-drk:-webkit-autofill:focus, 
    .inp-drk:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
}


.header{
    display : flex; 
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width:100%;
    margin-top: 30px;
}

.heading{
    font-size: 30px;
    font-weight: 700;
    color:#3c009d;
}

.underline{
    width:70px;
    height:2px;
    background-color: #1a4fc1;
    border-radius: 10px;
}

.inputs{
    display : flex; 
    flex-direction: column;
    gap: 15px;
    margin-top: 35px;

}

.input{
    display : flex; 
    align-items: center;
    background: #eaeaea;
    margin:auto;
    width:480px;
    height:50px;
    border-radius: 10px;
}

.input img{
    margin : 0 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background:transparent;
    border: 0;
    outline: 0;
    color:#797979;
    font-size: 19px;

}

.forget-password{
    padding-left: 62px;
    color:#797979;
    margin-top: 10px;
    /* font-size:18px; */
}

.forget-password span{
    /* padding-left: 62px; */
    color:#4c00b4;
    cursor: pointer;
    /* font-size:18px; */
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 5px auto;

} 

.btn-login{
    display: flex;
    border-radius: 50px;
    border:0px;
    width: 220px;
    height: 59px;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    /* opacity: 0; */
    background-color: rgba(0, 0, 0, 0);
    color:rgba(143, 143, 143, 0.149)


    
}

.btn-enable{
  
    background-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    opacity: .8;
} 


.btn-enable:hover{

 opacity: 1;
}

.form-error{
    padding-left: 55px;
    font-weight: bold;
    margin-bottom: 5px;

}

