.NAVBOY{
background:rgb(0, 0, 0);
padding: 10px;
/* position: sticky; */
}

.navboy-item{
    font-size:12px;
   
}

.navboy-title{
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    color: rgb(35, 87, 185);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
